#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    chosen {
        //zmk,matrix_transform = &default_transform;
        zmk,matrix_transform = &five_column_transform;
    };
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavios-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
// ZMK doesn't support mouse buttons, so no adjust layer needed
//    conditional_layers {
//        compatible = "zmk,conditional-layers";
//        tri_layer {
//            if-layers = <1 2>;
//            then-layer = <3>;
//        };
//    };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "COLEMAK";
// -----------------------------------------------------------------------------------------
// |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |BKSP |
// |  A  |  R  |  S  |  T  |  G  |   |  M  |  N   |  E  |  I  |  O  |
// |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H   |  ,  |  .  |  /  |
//             | GUI | LWR |SHFT |   | SPC | RSE  | ALT |
                        bindings = <
   &kp Q      &kp W      &kp F       &kp P       &kp B   &kp J &kp L       &kp U       &kp Y      &kp BSPC
   &hm LGUI A &hm LALT R &hm LCTRL S &hm LSHFT T &kp G   &kp M &hm LSHFT N &hm LCTRL E &hm LALT I &hm LGUI O
   &kp Z &kp X &kp C &kp D &kp V   &kp K &kp H  &kp COMMA &kp DOT &kp FSLH
                  &kp LGUI &mo 1 &kp LSHFT   &kp SPACE &mo 2 &kp RALT
                        >;
                };
                lower_layer {
                        label = "LOWER";
// -----------------------------------------------------------------------------------------
// | TAB |  ¬  |  _  |  -  |  £  |   |PGUP |  7  |  8  |  9  | DEL |
// | ESC |  %  |  &  |  =  |  ~  |   |PGDN |  4  |  5  |  6  |ENTR |
// | "|" |  ;  |  :  |  +  |  *  |   |  0  |  1  |  2  |  3  |  .  |
//             |     |     |     |   |     |     |     |
                        bindings = <
   &kp TAB       &kp LS(GRAVE) &kp UNDER &kp MINUS &kp POUND    &kp PG_UP &kp N7 &kp N8 &kp N9 &kp DELETE
   &kp ESC       &kp PERCENT   &kp AMPS  &kp EQUAL &kp LS(NUHS) &kp PG_DN &kp N4 &kp N5 &kp N6 &kp ENTER
   &kp LS(NUBS)  &kp SEMI      &kp COLON &kp PLUS  &kp STAR     &kp N0    &kp N1 &kp N2 &kp N3 &kp DOT
                          	        &trans     &trans       &trans      &trans  &trans   &trans
                        >;
                };

                raise_layer {
                        label = "UPPER";
// -----------------------------------------------------------------------------------------
// |  !  |  {  |  }  |  "  |  $  |   |HOME |PGDN |PGUP | END | INS |
// |  @  |  (  |  )  |  '  |  #  |   |LEFT |DOWN | UP  |RIGHT|ENTER|
// |  \  |  [  |  ]  |  `  |  ^  |   |  ;  |  :  |  <  |  >  |  ?  |
//             |     |     |     |   |     |     |     |
                        bindings = <
   &kp EXCL &kp LBRC &kp RBRC &kp AT    &kp DLLR  &kp HOME &kp PG_DN &kp PG_UP &kp END   &kp INS
   &kp DQT  &kp LPAR &kp RPAR &kp SQT   &kp NUHS  &kp LEFT &kp DOWN  &kp UP    &kp RIGHT &kp ENTER
   &kp NUBS &kp RBKT &kp RBKT &kp GRAVE &kp CARET &kp SEMI &kp COLON &kp LT    &kp GT    &kp QMARK
                     &trans   &trans    &trans    &trans   &trans    &trans
                        >;
                };
        };
};
